[submodule "TMessagesProj/jni/libwebp"]
	path = TMessagesProj/jni/libwebp
	url = https://github.com/webmproject/libwebp
	branch = v1.3.2
[submodule "TMessagesProj/jni/ffmpeg"]
	path = TMessagesProj/jni/third_party/ffmpeg
	url = https://github.com/FFmpeg/FFmpeg
	ignore = dirty
	branch = n8.1.2-30-g45f1910444
[submodule "TMessagesProj/jni/boringssl"]
	path = TMessagesProj/jni/boringssl
	url = https://github.com/google/boringssl
	ignore = all
[submodule "TMessagesProj/jni/third_party/libvpx"]
	path = TMessagesProj/jni/third_party/libvpx
	url = https://github.com/webmproject/libvpx
	branch = v1.16.0
	ignore = dirty
[submodule "TMessagesProj/jni/dav1d"]
	path = TMessagesProj/jni/third_party/dav1d
	url = https://code.videolan.org/videolan/dav1d
	branch = 1.5.4
[submodule "TMessagesProj/jni/third_party/ffmpeg"]
	path = TMessagesProj/jni/third_party/ffmpeg
	url = https://github.com/FFmpeg/FFmpeg.git
[submodule "TMessagesProj/jni/third_party/xiph/ogg"]
	path = TMessagesProj/jni/third_party/xiph/ogg
	url = https://github.com/xiph/ogg.git
[submodule "TMessagesProj/jni/third_party/xiph/opus"]
	path = TMessagesProj/jni/third_party/xiph/opus
	url = https://github.com/xiph/opus.git
[submodule "TMessagesProj/jni/third_party/xiph/opusfile"]
	path = TMessagesProj/jni/third_party/xiph/opusfile
	url = https://github.com/xiph/opusfile.git
[submodule "TMessagesProj/lib/jlatexmath"]
	path = TMessagesProj/lib/jlatexmath
	url = git@github.com:dkaraush/jlatexmath-android.git
[submodule "TMessagesProj/jni/tlottie"]
	path = TMessagesProj/jni/tlottie
	url = https://github.com/dkaraush/tlottie.git
[submodule "TMessagesProj/jni/tdlib"]
	path = TMessagesProj/jni/tdlib
	url = https://github.com/tdlib/td
